body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid {
  user-select: none;
  cursor: pointer;
  padding: 10px 0;
}

.grid-row {
  display: flex;
  gap: 2px;
  margin-bottom: 2px;
}

.grid-item {
  width: 32px;
  height: 32px;
  position: relative;
}

.grid-item img {
  user-select: none;
  pointer-events: none;
}

.grid-object {
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.sidebar {
  height: calc(100vh - 20px);
  width: 200px;
  padding: 10px;
}

.sidebar button {
  display: block;
  width: 100%;
  height: 30px;
  flex-grow: 0;
  background-color: white;
  cursor: pointer;
}

.sidebar button:disabled {
  cursor: unset;
}

.sidebar, .config-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.config-buttons {
  justify-content: end;
  flex-grow: 1;
}

.config-buttons-row {
  display: flex;
  gap: 10px;
}

.main-container {
  display: flex;
}
