body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid {
  user-select: none;
  cursor: pointer;
  padding: 50px;
}

.grid-row {
  display: flex;
  gap: 2px;
  margin-bottom: 2px;
}

.grid-item {
  width: 32px;
  height: 32px;
  position: relative;
}

.grid-item img {
  user-select: none;
  pointer-events: none;
}

.grid-item.highlighted .highlight-box {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow:inset 0px 0px 0px 5px red;
}

.grid-object {
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.grid-object.up {
  transform: rotate(0deg);
}

.grid-object.right {
  transform: rotate(90deg);
}

.grid-object.down {
  transform: rotate(180deg);
}

.grid-object.left {
  transform: rotate(270deg);
}

.grid-object.toggle img {
  filter: invert(100%);
}

.sidebar {
  height: calc(100vh - 20px);
  width: 250px;
  padding: 10px;
}

.sidebar button {
  display: block;
  width: 100%;
  height: 30px;
  flex-grow: 0;
  background-color: white;
  cursor: pointer;
}

.sidebar button:disabled {
  cursor: unset;
}

.sidebar, .config-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.config-buttons {
  justify-content: end;
  flex-grow: 1;
}

.config-buttons-row, .sidebar-row {
  display: flex;
  gap: 10px;
}

.main-container {
  display: flex;
}
